@{
    var videoId = Model.VideoId;
    var ItemId = Model.ItemId;
    var thumbnail = Model.Thumbnail;
    var videoTitle = Model.VideoTitle.Trim();
    var duration = Model.Duration;
    var isDownloaded = Model.IsDownloaded;
    var itemColor = Model.ItemColor;
    var videoTimeLimit = Model.VideoTimeLimit;
    var userId = Model.UserId;
    var chanelName = Model.ChanelName;
    var hashTags = Model.HashTags;

}

<div class="panel-group">
    <div class="panel panel-default">        
        <div id="divTitle_@ItemId" onclick=window["anchorToTop_@ItemId"]('divTitle_@ItemId') class="panel-heading table-responsive" style="background-color:@itemColor; padding:1px 5px">
            <table>
                <tr id="trTitleTop_@ItemId" style="display:none">
                    <td colspan="4">
                        <div id="divTitleTop_@ItemId" class="mobile-title" >
                            <p >@videoTitle</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td id="tdThumbnail_@ItemId" style="padding: 4px 0px; width: 10%; position:relative">
                        <a data-toggle="collapse" class="inactiveLink" href="#collapse11_@ItemId">
                            <img class="img-rounded img-responsive" style="max-width:100px; max-height:100px" src='@thumbnail' />
                            <div id="divImgTime_@ItemId" class="time-img">Loading...</div>
                        </a>
                    </td>
                    <td style="padding-left: 5px; width: 2%;">
                        <div id="bars_@ItemId" style="display: none; height: 1em; position: relative;">
                            <div class="bar"></div>
                            <div class="bar"></div>
                            <div class="bar"></div>
                            <div class="bar"></div>
                        </div>
                        <p>
                            <div id="divDownloaded_@ItemId" style="display:none;border-radius: 10px; background-color: greenyellow; width: 12px; height: 12px; border: solid; border-width: thin;"></div>
                        </p>
                    </td>
                    <td style="padding-left: 10px; padding-right: 10px;">
                        <a data-toggle="collapse" class="inactiveLink" style="text-decoration:none; color:black;" href="#collapse11_@ItemId">
                            <div id="divTitleCenter_@ItemId" style="width:auto; font-size:12pt; font-family:Verdana; text-align:left">
                                @videoTitle
                            </div>
                            <div id="divImgTimeMob_@ItemId" style="display:none" class="time-img-mob">Loading...</div>
                        </a>
                    </td>
                    <td class="text-right" style="width:2%; text-align:-webkit-center">
                        <span class="panel-title btn-group">
                            <a id="btnDownload_@ItemId" href='@Url.Action("Download", "Home", new { ItemId = ItemId })' target="_blank" class="btn btn-success" style="color: white; text-shadow: none;">
                                <span class="glyphicon glyphicon-download-alt"></span>
                                <span><strong>Ready!</strong></span>
                            </a>
                        </span>
                    </td>
                </tr>
            </table>
            <table width="100%">
                <tr>
                    <td id="prgBar1_@ItemId" colspan="2" style="display:none">
                        <div class="progress" style="margin-bottom:0px; height: 10px;">
                            <div id="divProgDownload_@ItemId" class="progress-bar progress-bar-success progress-bar-striped" style="width: 0%">
                            </div>
                            <div id="divProgConvert_@ItemId" class="progress-bar progress-bar-success progress-bar-striped" style="width: 0%">
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

            <div class="panel-title">
                <div class="container-fluid panel-container">
                </div>
            </div>
        </div>
        <div id="collapse11_@ItemId" class="panel-collapse collapse" style="padding-top: 8px;">            
            <div id="divCredits_@ItemId" class="showHide-credits" onclick="showHideGuide('divCredits_@ItemId', 'credits_@ItemId', 'Show Credits', 'Hide Credits')">Show Credits</div>
            <div id="credits_@ItemId" style="display: none; background-color: #efefef; padding-bottom : 100px">
                <div style="padding-bottom:10px">
                    - Its optional, but also it's a good practice to share the source of your work, then share it anywhere like social media.
                </div>                 
                <div style="background-color: rgb(239 239 239) ">
                    <div style="padding-bottom:1px">
                        <table>
                            <tr>
                                <td style="padding-left:5px">
                                    <a id="btnHashTags_@ItemId" target="_blank" onclick=window["generateHashTag_@ItemId"]() class="btn btn-info" style="color: white; text-shadow: none; text-decoration:none">
                                        <span>
                                            <img width="18px" src="~/Imgs/instagranLogo.png" />
                                        </span>
                                        <span id="btnHashTagsText_@ItemId">Add Hashtags</span>
                                    </a>                                    
                                </td>
                                <td style="padding-left:5px">
                                    <a id="btnCopy_@ItemId" target="_blank" onclick=window["copyToClipboard_@ItemId"]() class="btn btn-info" style="color: white; text-shadow: none; text-decoration:none">
                                        <span class="glyphicon glyphicon-edit"></span>
                                        <span>Copy</span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>                    
                    <div style="float: left; width: 100%;">
                        <textarea id="taCredits_@ItemId" style="width: 100%; max-width: 100%; text-align: left; background-color: aliceblue; border-color: #ffffff; border-top-color: aliceblue; ">
———— Credits ————
Youtube channel : @chanelName
https://www.youtube.com/watch?v=@videoId

Generated by: Podcast it!
https://podcast-it.noleheroes.com
                        </textarea>
                    </div>
                </div><br>

                <div id="creditsFinalMessage_@ItemId" style="background-color:lightgoldenrodyellow; display:none">
                    Cool! Now you can paste it anywhere and tell to people where your work comes from <span class="glyphicon glyphicon-thumbs-up"></span>
                </div>
            </div>
            <div id="divPanelContent_@ItemId" style="padding-top: 0px;" class="panel-body panel-content" autofocus>
                <p>                    
                    <div id="divNeedExtraPurchase_@ItemId" style="padding-bottom: 13px; padding-right: 10px; display: none;">
                        <a style="text-decoration:none; color:forestgreen" onclick="goToStore()">
                            <div style="background-color:#ece96b; text-shadow: none; text-align:left; border-radius: 5px; padding: 5px 5px 5px 5px;">
                                Do you want to work with videos bigger then 20 minutes?, so check it out. <span class="glyphicon glyphicon-shopping-cart"></span>
                            </div>
                        </a>
                    </div>
                    <div id="divMessage_@ItemId" style="padding-bottom: 13px; padding-right: 10px; display: none;">
                        <div id="divMessageContent_@ItemId" style="background-color: #ffb75f; color: black; text-shadow: none; border-radius: 5px; padding: 5px 5px 5px 5px;"></div>
                    </div>
                    <div class="row col-md-12" style="padding:0px 0px">
                        <div class="col-md-5">
                            <div class="img-rounded embed-responsive embed-responsive-16by9">
                                <div class="embed-responsive-item" style="display:flex;justify-content:center;align-items:center;">
                                    <div>
                                        <div id="youtube-player_@ItemId"></div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div id="fsetCutControls_@ItemId" style="display: none;">
                                <legend id="lgdOpt1_@ItemId" style="color:black;font-weight:bold;">Cut option 1</legend>
                                <table id="tblCutControl_@ItemId" width="100%">
                                    <tr>
                                        <td width="100%" style="font-weight: bold; padding: 5px 8px 15px 8px">
                                            <div id="divSetStart_@ItemId">
                                                <button id="btnSetStart_@ItemId" type="button" class="btn btn-primary" onclick=window["SetStartTime_@ItemId"]()>
                                                    <span>Set Start : </span>
                                                    <span id="spnSetStart_@ItemId">00:00:00</span>
                                                </button>
                                            </div>
                                        </td>
                                        <td width="50%" style="padding: 5px 8px 15px 8px;">
                                            <div id="divSetEnd_@ItemId">
                                                <button id="btnSetEnd_@ItemId" type="button" class="btn btn-primary" onclick=window["SetEndTime_@ItemId"]()>
                                                    <span>Set End : </span>
                                                    <span id="spnSetEnd_@ItemId">00:00:00</span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <table id="tblProgressInfo_@ItemId" width="100%" class="table table-sm">
                                <tr>
                                    <td width="50%" style="font-weight: bold; padding: 5px 0px 5px 15px; color:maroon">Process Type :</td>
                                    <td style="padding: 5px 0px 5px 20px; color:maroon"><div id="divProcessType_@ItemId" />- - -</td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold; padding: 5px 0px 5px 15px;">Process Status :</td>
                                    <td style="padding: 5px 0px 5px 20px;"><div id="divProcessStatus_@ItemId" />- - -</td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold; padding: 5px 0px 5px 15px;">Total Time :</td>
                                    <td style="padding: 5px 0px 5px 20px;"><div id="divTotalTime_@ItemId" />- - -</td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold; padding: 5px 0px 5px 15px;">Bitrate (kb/s) :</td>
                                    <td style="padding: 5px 0px 5px 20px;"><div id="divBitrate_@ItemId" />- - -</td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;padding: 5px 0px 5px 15px;">File Size :</td>
                                    <td style="padding: 5px 0px 5px 20px;"><div id="divFileSize_@ItemId" />- - -</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-7">
                            <div class="panel-group" style="margin-bottom: 5px;" id="accordion_@ItemId">
                                <div class="panel panel-default">
                                    <div class="panel-heading" style="background-color:@itemColor">
                                        <div id="divCutHeader_@ItemId" class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion_@ItemId" href="#collapse3_@ItemId">
                                                <div style="color:black"><span class="glyphicon glyphicon-scissors" /><span style="font-family:Verdana"> Cut (Audio or Video)</span></div>
                                            </a>
                                        </div>
                                    </div>
                                    <div id="collapse3_@ItemId" class="panel-collapse collapse">
                                        <div id="divCropBody_@ItemId" class="panel-body" style="padding: 5px 5px 5px 5px;">
                                            <div id="divCropContent_@ItemId">
                                                <div id="crpShowHideGuide_@ItemId" class="showHide-guide" onclick="showHideGuide('crpShowHideGuide_@ItemId', 'crpGuide_@ItemId', 'Show guide', 'Hide guide')">Show guide</div>
                                                <div id="crpGuide_@ItemId" style="display: none; background-color: #efefef; padding: 3px 10px 5px 10px;">
                                                    • <a style="color:#483eea; text-decoration:none; font-weight:unset" onmouseover="highlightControl('lgdOpt1_@ItemId', 'over')" onmouseout="highlightControl('lgdOpt1_@ItemId', 'out')">Cut option 1</a> - Play the video and capture the time to start then the time to end, now you have a time range to cut.<br>
                                                    • <a style="color:#483eea; text-decoration:none; font-weight:unset" onmouseover="highlightControl('lgdOpt2_@ItemId', 'over')" onmouseout="highlightControl('lgdOpt2_@ItemId', 'out')">Cut option 2</a> - Slide it until you find the desired time range to cut, its valid for audio and video.
                                                </div><br />
                                                <div id="divCropControls_@ItemId">
                                                    <table width="100%">
                                                        <tr>
                                                            <td width="90%">
                                                                <label for="time1_@ItemId">Range: <span id="divTimePreview_@ItemId" class="cropTimer crop-time-result" /></label>
                                                            </td>
                                                            <td style="text-align:right; padding-right: 5px">
                                                                <div id="divRdAudio_@ItemId" class="form-check">
                                                                    <input type="radio" class="form-check-input" id="chkAudio_@ItemId" onclick=window["setCropBtnText_@ItemId"]() name="groupOfMedia_@ItemId" checked>
                                                                </div>
                                                            </td>
                                                            <td class="tdAudio">
                                                                <label class="form-check-label" for="chkAudio_@ItemId">Audio</label>
                                                            </td>
                                                            <td class="tdVideo">
                                                                <div id="divRdVideo_@ItemId" class="form-check">
                                                                    <input type="radio" checked="checked" class="form-check-input" id="chkVideo_@ItemId" onclick=window["setCropBtnText_@ItemId"]() name="groupOfMedia_@ItemId">
                                                                </div>
                                                            </td>
                                                            <td style="text-align:right; width:5%">
                                                                <label class="form-check-label" for="chkVideo_@ItemId">Video</label>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <div class="form-check" style="text-align:start">
                                                        <input type="checkbox" checked="checked" class="form-check-input" id="chkBoostQualityCrp_@ItemId">
                                                        <label class="form-check-label" style="display:unset" for="chkBoostQualityCrp_@ItemId">Boost it's quality</label>
                                                    </div>
                                                    <br>
                                                    <legend id="lgdOpt2_@ItemId" style="color:black;font-weight:bold;">Cut option 2</legend>
                                                    <p>
                                                        <table width="100%">
                                                            <tr class="cropTimer">
                                                                <td style="padding-left: 12px; padding-bottom:8px">
                                                                    <div id="lblTime1_@ItemId" />
                                                                </td>
                                                                <td style="padding-left: 10px; padding-right: 12px; padding-bottom:8px; text-align:end">
                                                                    <div id="lblTime2_@ItemId" />
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <table width="100%">
                                                            <tr class="center-element">
                                                                <td style="padding-left: 10px;">
                                                                    <button id="btnRefineStartLeft_@ItemId" type="button" class="btn btn-primary btn-sm" onclick=window["startLeftArrow_@ItemId"]()>
                                                                        <span id="spnRefineStartLeft_@ItemId" class="glyphicon glyphicon-arrow-left"></span>
                                                                    </button>
                                                                </td>
                                                                <td style="padding-left: 10px;">
                                                                    <button id="btnRefineStartRight_@ItemId" type="button" class="btn btn-primary btn-sm" onclick=window["startRightArrow_@ItemId"]()>
                                                                        <span id="spnRefineStartRight_@ItemId" class="glyphicon glyphicon-arrow-right"></span>
                                                                    </button>
                                                                </td>
                                                                <td width="100%">
                                                                    Refine
                                                                </td>
                                                                <td>
                                                                    <button id="btnRefineEndLeft_@ItemId" type="button" class="btn btn-primary btn-sm" onclick=window["endLeftArrow_@ItemId"]()>
                                                                        <span id="spnRefineEndLeft_@ItemId" class="glyphicon glyphicon-arrow-left"></span>
                                                                    </button>
                                                                </td>
                                                                <td style="padding-left: 10px; padding-right: 10px">
                                                                    <button id="btnRefineEndRight_@ItemId" type="button" class="btn btn-primary btn-sm" onclick=window["endRightArrow_@ItemId"]()>
                                                                        <span id="spnRefineEndRight_@ItemId" class="glyphicon glyphicon-arrow-right"></span>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </p>
                                                    <div id="divCropGroup_@ItemId" class="timeRangeSlider">
                                                        <div id="theTimeRange_@ItemId" class="time-slider" data-role="rangeslider">
                                                            <input type="range" step="1" style="margin: 0 5px" name="time1_@ItemId" id="time1_@ItemId" min="0" max="50000" value="0" data-show-value="false" data-popup-enabled="false" />
                                                            <input type="range" step="1" style="margin: 0 5px" name="time2_@ItemId" id="time2_@ItemId" min="0" max="50000" value="50000" data-show-value="false" data-popup-enabled="false" />
                                                        </div>
                                                        <input id="slider1_@ItemId" style="display:none" type="text" data-role="none" value="" disabled />
                                                        <input id="slider2_@ItemId" style="display: none" type="text" data-role="none" value="" disabled />
                                                    </div>

                                                </div>
                                                <div class="progress" style="margin-bottom:3px; height:10px">
                                                    <div id="prgPreview_@ItemId" class="progress-bar progress-bar-info" style="width: 0%">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-footer" style="background-color:@itemColor">
                                                <table width="100%">
                                                    <tr>
                                                        <td>
                                                            <div id="youtube-playControl_@ItemId" data-video='@videoId' data-autoplay="0" data-loop="0">
                                                                <button id="btnPreview_@ItemId" type="button" class="btn btn-primary" onclick=window["toggleAudio_@ItemId"]()>
                                                                    <span id="spnPreviewGlyphicon_@ItemId" class="glyphicon glyphicon-play"></span>
                                                                    <span id="spnBtnText_@ItemId">Start Preview</span>
                                                                </button>
                                                            </div>
                                                        </td>
                                                        <td style="text-align: right">
                                                            <button id="btnCrop_@ItemId" type="button" class="btn btn-info" onclick=window["cropContent_@ItemId"]()>
                                                                <span id="spnCropGlyph_@ItemId" class="glyphicon glyphicon-scissors"></span>
                                                                <span id="spnCropBtnText_@ItemId"> Cut VIDEO range</span>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" style="background-color:@itemColor">
                                        <div id="divExtHeader_@ItemId" class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion_@ItemId" href="#collapse1_@ItemId">
                                                <div style="color:black"><span class="glyphicon glyphicon-log-out" /><span style="width:auto;font-size:12pt; font-family:Verdana"> Extract Audio</span></div>
                                            </a>
                                        </div>
                                    </div>
                                    <div id="collapse1_@ItemId" class="panel-collapse collapse">
                                        <div id="divExtractBody_@ItemId" class="panel-body" style="padding: 5px 5px 5px 5px;">
                                            <div id="extShowHideGuide_@ItemId" class="showHide-guide" onclick="showHideGuide('extShowHideGuide_@ItemId', 'extGuide_@ItemId', 'Show guide', 'Hide guide')">Show guide</div>
                                            <div id="extGuide_@ItemId" style="display: none; background-color: #efefef; padding: 3px 10px 5px 10px;">
                                                It's a straight forward action, just push the botton below to extract the audio from this video.
                                            </div>
                                            <div class="panel-footer" style="background-color:@itemColor">
                                                <table width="100%">
                                                    <tr>
                                                        <td width="60%">
                                                            <div style="display:block" class="form-check">
                                                                <input type="checkbox" checked="checked" class="form-check-input" id="chkBoostQualityExt_@ItemId">
                                                                <label class="form-check-label" style="display:unset" for="chkBoostQualityExt_@ItemId">Boost it's quality</label>
                                                            </div>
                                                        </td>
                                                        <td style="text-align: right">
                                                            <a id="btnExtract_@ItemId" class="btn btn-info" style="color: white; text-shadow: none;" onclick=window["extractContent_@ItemId"]()>
                                                                <span id="spnExtractGlyph_@ItemId" class="glyphicon glyphicon-log-out"></span>
                                                                <span id="spnExtractBtnText_@ItemId"> Extract Audio</span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" style="background-color:@itemColor">
                                        <div id="divSplitHeader_@ItemId" class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion_@ItemId" href="#collapse2_@ItemId">
                                                <div style="color:black"><span class="glyphicon glyphicon-sound-stereo" /><span style="font-family:Verdana"> Split (Audio or Video)</span></div>
                                            </a>
                                        </div>
                                    </div>
                                    <div id="collapse2_@ItemId" class="panel-collapse collapse">
                                        <div id="divSplitBody_@ItemId" class="panel-body" style="padding: 5px 5px 5px 5px;">
                                            <div id="divSplitContent_@ItemId">
                                                <div id="splShowHideGuide_@ItemId" class="showHide-guide" onclick="showHideGuide('splShowHideGuide_@ItemId', 'splGuide_@ItemId', 'Show guide', 'Hide guide')">Show guide</div>
                                                <div id="splGuide_@ItemId" style="display:none; background-color: #efefef; padding: 3px 10px 5px 10px;">
                                                    • Do a <a style="color:#483eea; text-decoration:none; font-weight:unset" onmouseover="highlightControl('lnkRdbParts_@ItemId', 'over')" onmouseout="highlightControl('lnkRdbParts_@ItemId', 'out')">split in equal parts</a> if you want to break this audio by the number selected, this option breaks in max of 5 parts, in case you need to break it more do it by minutes.<br />
                                                    • <a style="color:#483eea; text-decoration:none; font-weight:unset" onmouseover="highlightControl('lnkRdbMinutes_@ItemId', 'over')" onmouseout="highlightControl('lnkRdbMinutes_@ItemId', 'out')">Splitting it by minutes</a> give to you the same amount of time for all parts.<br />
                                                    • <a style="color:#483eea; text-decoration:none; font-weight:unset" onmouseover="highlightControl('lnkSeamless_@ItemId', 'over')" onmouseout="highlightControl('lnkSeamless_@ItemId', 'out')">Seamless cut</a> splits in a conventional way, for instance if the first part finishes on 00:12:00, the next one will start at 00:12:01.<br />
                                                    • On the other hand <a style="color:#483eea; text-decoration:none; font-weight:unset" onmouseover="highlightControl('lnkrd5sDelay_@ItemId', 'over')" onmouseout="highlightControl('lnkrd5sDelay_@ItemId', 'out')">5 seconds delay</a> means for instance if the first part finishes on 00:12:00, the next one will start at 00:11:55.
                                                </div>
                                                <div style="padding-top: 10px;">
                                                    <table width="100%">
                                                        <tr>
                                                            <td style="text-align:left; padding-right: 5px; padding-left:5px; width:5px">
                                                                <input type="radio" class="form-check-input" id="chkParts_@ItemId" onclick=window["calculateParts_@ItemId"]() name="groupSplit_@ItemId" checked>
                                                            </td>
                                                            <td id="tdPartsDesc_@ItemId" style="width:80%; white-space:nowrap">
                                                                <label class="form-check-label" for="chkAudio_@ItemId"><a id="lnkRdbParts_@ItemId" style="border-radius:6px; text-decoration: none; color: #3c95fd; font-weight: bold;" onclick=window["calculateParts_@ItemId"]()>Split it in equal Parts</a></label>
                                                            </td>
                                                            <td style="text-align:left; padding-right: 5px; padding-left:5px; width:5px">
                                                                <input type="radio" class="form-check-input" id="rdSeamless_@ItemId" onclick=window["rdSeamlessClick_@ItemId"]() name="groupSplitMode_@ItemId" checked>
                                                            </td>
                                                            <td style="width:100%;">
                                                                <label class="form-check-label" for="rdSeamless_@ItemId"><a id="lnkSeamless_@ItemId" style="border-radius: 6px; text-decoration: none; color: #3c95fd; font-weight: bold; white-space: nowrap" onclick=window["rdSeamlessClick_@ItemId"]()>Seamless Cut</a></label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:5px;padding-left: 5px;">
                                                                <input type="radio" class="form-check-input" id="chkMinutes_@ItemId" onclick=window["calculateMinutes_@ItemId"]() name="groupSplit_@ItemId">
                                                            </td>
                                                            <td style="text-align:left; width:5%">
                                                                <label class="form-check-label" for="chkVideo_@ItemId"><a id="lnkRdbMinutes_@ItemId" style="border-radius: 6px; text-decoration: none; color: black; font-weight: unset;" onclick=window["calculateMinutes_@ItemId"]()>Split it by Minutes</a></label>
                                                            </td>
                                                            <td style="text-align:left; padding-right: 5px; padding-left:5px; width:5px">
                                                                <input type="radio" class="form-check-input" id="rd5sDelay_@ItemId" onclick=window["rd5sDelayClick_@ItemId"]() name="groupSplitMode_@ItemId">
                                                            </td>
                                                            <td style="width:100%;">
                                                                <label class="form-check-label" for="rd5sDelay_@ItemId"><a id="lnkrd5sDelay_@ItemId" style="border-radius: 6px; text-decoration: none; color: black; font-weight: unset; white-space: nowrap" onclick=window["rd5sDelayClick_@ItemId"]()>5 seconds delay</a></label>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <table width="30%">
                                                        <tr>
                                                            <td style="text-align: left; padding-right: 5px; padding-left: 5px">
                                                                <div class="form-check">
                                                                    <input type="radio" class="form-check-input" id="chkSplAudio_@ItemId" onclick=window["setSplitBtnText_@ItemId"]() name="groupOfSplMedia_@ItemId" checked>
                                                                </div>
                                                            </td>
                                                            <td class="tdAudio">
                                                                <label class="form-check-label" for="chkSplAudio_@ItemId" style="padding-right:5px">Audio</label>
                                                            </td>
                                                            <td class="tdVideo">
                                                                <div class="form-check">
                                                                    <input type="radio" class="form-check-input" id="chkSplVideo_@ItemId" onclick=window["setSplitBtnText_@ItemId"]() name="groupOfSplMedia_@ItemId">
                                                                </div>
                                                            </td>
                                                            <td style="text-align:right; width:5%">
                                                                <label class="form-check-label" for="chkSplVideo_@ItemId" style="padding-left: 5px">Video</label>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <table width="100%">
                                                        <tr>
                                                            <td width="25%" style="padding-left: 5px;">
                                                                <div id="splitTitle_@ItemId" style="white-space: nowrap;">Split in Parts</div>
                                                            </td>
                                                            <td style="padding-left:8px;">
                                                                <select id="cmbSplit_@ItemId">
                                                                    <option value="2">2</option>
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                    <option value="5">5</option>
                                                                    <option value="6">6</option>
                                                                    <option value="7">7</option>
                                                                    <option value="8">8</option>
                                                                    <option value="9">9</option>
                                                                    <option value="10">10</option>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input" id="chkBoostQualitySpl_@ItemId">
                                                        <label class="form-check-label" style="display:unset" for="chkBoostQualitySpl_@ItemId">Boost it's quality</label>
                                                    </div>
                                                    <p />
                                                    <table width="100%">
                                                        <tr>
                                                            <td>
                                                                <div id="splitMessage_@ItemId" class="split-result-message" />
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="panel-footer" style="background-color:@itemColor;padding-left: 10px; padding-right: 10px;">
                                                <table width="100%">
                                                    <tr>
                                                        <td>
                                                            <label class="form-check-label" style="text-shadow:none; padding-left: 10px; padding-right:5px" for="exampleCheck1">All cut files will be set into a ZIP file.</label>
                                                        </td>
                                                        <td style="text-align: right">
                                                            <button id="btnSplit_@ItemId" type="button" class="btn btn-info" onclick=window["splitContent_@ItemId"]()>
                                                                <span id="spnSplitGlyph_@ItemId" class="glyphicon glyphicon-sound-stereo"></span>
                                                                <span id="spnSplitBtnText_@ItemId"> Split Audio</span>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var suggestCallBack; // global var for autocomplete jsonp

    $(document).ready(function () {

        let spanCombo = $(".ui-selectmenu-button-icon.ui-icon-caret-d.ui-icon.ui-widget-icon-floatend");
        if (isIE()) spanCombo.eq(@ItemId).removeClass("ui-icon");
        spanCombo.eq(@ItemId).css("margin-top", "unset");
        spanCombo.eq(@ItemId).css("background-position", "unset");
        spanCombo.eq(@ItemId).css("background-color", "unset");
        $("#cmbSplit_@ItemId-button").css("width", "70px");

        $('#collapse1_@ItemId').on('show.bs.collapse', function () {
            showCropButtons(false);
            $('html,body').animate({ scrollTop: $('#divExtHeader_@ItemId').offset().top - 60}, 800);
        });

        $('#collapse2_@ItemId').on('show.bs.collapse', function () {
            showCropButtons(false);
            $('html,body').animate({ scrollTop: $('#divSplitHeader_@ItemId').offset().top - 60}, 800);
        });

        $('#collapse3_@ItemId').on('show.bs.collapse', function () {
            showCropButtons(true);
            @*$('html,body').animate({ scrollTop: $('#divCutHeader_@ItemId').offset().top - 60 }, 800);*@
            $('html,body').animate({ scrollTop: $('#youtube-player_@ItemId').offset().top - 60 }, 800);
        });

        $('#collapse3_@ItemId').on('hidden.bs.collapse', function () {
            showCropButtons(false);
        });

        //const text = document.querySelector('.wrap-text p');
        //text.textContent = text.textContent.slice(0, 50).trim().concat('...');

        // **** Show or Hide Tile
        onScreenChange();

        $(window).resize(function () {
            onScreenChange();
        });

        function onScreenChange() {
            if ($(window).width() <= 768) {
                $('#trTitleTop_@ItemId').show();
                $('#divTitleCenter_@ItemId').hide();
                $('#divImgTime_@ItemId').hide();
                $('#divImgTimeMob_@ItemId').show();
                document.getElementById('tdThumbnail_@ItemId').style.position = 'unset';
                $('#divExtHeader_@ItemId').addClass("accord-header-height");
                $('#divSplitHeader_@ItemId').addClass("accord-header-height");
                $('#divCutHeader_@ItemId').addClass("accord-header-height");
            }
            else {
                $('#trTitleTop_@ItemId').hide();
                $('#divTitleCenter_@ItemId').show();
                $('#divImgTime_@ItemId').show();
                $('#divImgTimeMob_@ItemId').hide();
                document.getElementById('tdThumbnail_@ItemId').style.position = 'relative';
                $('#divExtHeader_@ItemId').removeClass("accord-header-height");
                $('#divSplitHeader_@ItemId').removeClass("accord-header-height");
                $('#divCutHeader_@ItemId').removeClass("accord-header-height");

            }
        }

        document.getElementById("tblProgressInfo_@ItemId").style.display = '@ViewData["Plataform"]'.length != 0 ? "none" : "block";

        //**** Slider Time

        @*$("#sliderTime_@ItemId").on("change", function () {
            let time = IntToTime($(this).val());
            $("#theTime .timeLabel")[@ItemId].val(time);
        });*@

        $("#time1_@ItemId").on("change", function () {
            let seconds = $(this).val();
            let time = IntToTime(seconds);
            $('#lblTime1_@ItemId').html(time);
            $("#spnSetStart_@ItemId").html(time);
            $(this).closest(".timeRangeSlider").find(".timeLabel").val(time);
            window["setCropTime_@ItemId"]();
        });

        $("#time2_@ItemId").on("change", function () {
            let seconds = $(this).val();
            let time = IntToTime(seconds);
            $('#lblTime2_@ItemId').html(time);
            $("#spnSetEnd_@ItemId").html(time);
            $(this).closest(".timeRangeSlider").find(".timeLabel2").val(time);
            window["setCropTime_@ItemId"]();
        });

        $("#cmbSplit_@ItemId").on("change", function () {
            let duration = (player_@ItemId).getDuration().toString();
            let selectedValue = $(this).children("option:selected").val();

            let splitMsg = '';

            var spliPartsChecked = document.getElementById('chkParts_@ItemId').checked;

            if (spliPartsChecked) {
                splitMsg = window["getSplitMessage_@ItemId"](selectedValue, IntToTime(duration / selectedValue));// 'It will be splitted in <strong>' + selectedValue + '</strong> parts of ' + IntToTime(duration / selectedValue) + ' each.';
            }
            else {
                let partsCount = duration / selectedValue;
                let partsCountResult = partsCount % 1 == 0 ? partsCount : getTruncated(partsCount) + 1;
                let partText = $(this).find(":selected").text();
                splitMsg = window["getSplitMessage_@ItemId"](partsCountResult, partText);// 'It will be splitted in ' + partsCount + ' parts of ' + partText + ' each.';
            }

            $("#splitMessage_@ItemId").html(splitMsg);
        });

        $("#time1_@ItemId").trigger("change");
        $("#time2_@ItemId").trigger("change");
        @*$("#sliderTime_@ItemId").trigger("change");*@

        $('#btnDownload_@ItemId').addClass("disabledbutton");

        if ('@isDownloaded' === 'True') {
            document.getElementById("divDownloaded_@ItemId").style.display = "block";
        }

        function showCropButtons(showIt)
        {
            document.getElementById("fsetCutControls_@ItemId").style.display = showIt ? "block" : "none";
        }

        window["disableAllControlItem_@ItemId"](true);

        document.getElementById("taCredits_@ItemId").style.height = "110px";
    });

    window["getSplitMessage_@ItemId"] = function(selectedValue, timeDesc) {
        return 'It will be splitted in <strong>' + selectedValue + '</strong> parts of <strong>' + timeDesc + '</strong> each.';
    }

    window["setCropTime_@ItemId"] = function() {
        var maxTime = document.getElementById("time2_@ItemId").getAttribute("max");
        var timeDiff = $("#time2_@ItemId").val() - $("#time1_@ItemId").val();

        var timePercent = Math.round((timeDiff / parseInt(maxTime)) * 100);
        $("#divTimePreview_@ItemId").html(IntToTime(timeDiff) + ' - ' + timePercent + '%');

        if (timePercent > 0) {
            $('#btnPreview_@ItemId').removeClass("disabledbutton");
            $('#btnCrop_@ItemId').removeClass("disabledbutton");
            document.getElementById("divMessage_@ItemId").style.display = "none";
        }
        else
        {
            $('#btnPreview_@ItemId').addClass("disabledbutton");
            $('#btnCrop_@ItemId').addClass("disabledbutton");
            window["showMessage_@ItemId"]('Cannot set <b>start time</b> bigger then <b>end time</b> or <b>end time</b> smaller then <b>start time</b>.', 'warn');
        }

        $("#divTimePreviewRegression_@ItemId").html(IntToTime(timeDiff));
    }

    function isIE() {
        ua = navigator.userAgent;
        /* MSIE used to detect old browsers and Trident used to newer ones*/
        var is_ie = ua.indexOf("MSIE ") > -1 || ua.indexOf("Trident/") > -1;

        return is_ie;
    }

    function IntToTime(val) {

        let intToTimeResult = new Date(val * 1000);

        return intToTimeResult.toISOString().substr(11, 8);
    }

    function getTruncated(v) {
        if (!Math.trunc) {
            Math.trunc = function (v) {
                return v < 0 ? Math.ceil(v) : Math.floor(v);
            };
        }
        else {
            return Math.trunc(v);
        }
    }

    window["extractAudio_@ItemId"] = function() {
        var form = $('#_MainForm');
        var token = $('input[name="__RequestVerificationToken"]', form).val();
        let boostIt = document.getElementById('chkBoostQualityExt_@ItemId').checked;
        let vTitle = (player_@ItemId).getVideoData().title;
        var videoDuration = (player_@ItemId).getDuration();

        $.ajax({
            url: '/Home/ExtractAudio',
            type: 'POST',
            data: {
                __RequestVerificationToken: token,
                videoId: '@videoId', //'a3ir9HC9vYg',//'a3ir9HC9vYg'
                videoTitle: vTitle,
                ItemId: @ItemId, // <---------- dynamic value on search result list creation
                maxQuality: boostIt,
                duration: videoDuration
            },
            success: function () {
            },
            error: function (data) {
                //console.log(data);
                //window["showMessage_@ItemId"](data);
                //$('#messageError').show();
                //$('#messagesSignUp').append('<div class="messageType2">Something went wrong, please try again later.</div>');
            }
        });
    }

    window["splitAudioVideo_@ItemId"] = function() {
        let form = $('#_MainForm');
        let token = $('input[name="__RequestVerificationToken"]', form).val();

        let useRetakeChecek = document.getElementById('rd5sDelay_@ItemId').checked;
        let parts = window["getParts_@ItemId"]();
        let minutes = window["getMinutes_@ItemId"]();
        let videoDuration = (player_@ItemId).getDuration();
        let boostIt = document.getElementById('chkBoostQualitySpl_@ItemId').checked;
        let vTitle = (player_@ItemId).getVideoData().title;
        let splitAsVideo = document.getElementById('chkSplVideo_@ItemId').checked;

        $.ajax({
            url: '/Home/SplitAudioVideo',
            type: 'POST',
            data: {
                __RequestVerificationToken: token,
                videoId: '@videoId', //'a3ir9HC9vYg',//'a3ir9HC9vYg'
                videoTitle: vTitle,
                ItemId: @ItemId, // <---------- dynamic value on search result list creation
                parts: parts,
                minutes: minutes,
                useRetake: useRetakeChecek,
                duration: videoDuration,
                maxQuality: boostIt,
                splitVideo: splitAsVideo
            },
            success: function () {
            },
            error: function () {

                //$('#messagesSignUp').show();
                //$('#messagesSignUp').append('<div class="messageType2">Something went wrong, please try again later.</div>');
            }
        });
    }

    window["cropMedia_@ItemId"] = function() {
        var form = $('#_MainForm');
        var token = $('input[name="__RequestVerificationToken"]', form).val();

        var cropStartAt = $("#time1_@ItemId").val();
        var cropEndAt = $("#time2_@ItemId").val();
        var cropAsVideo = document.getElementById('chkVideo_@ItemId').checked;
        var videoDuration = (player_@ItemId).getDuration();
        let boostIt = document.getElementById('chkBoostQualityCrp_@ItemId').checked;
        let vTitle = (player_@ItemId).getVideoData().title;

        $.ajax({
            url: '/Home/CropMedia',
            type: 'POST',
            data: {
                __RequestVerificationToken: token,
                videoId: '@videoId', 
                videoTitle: vTitle,
                ItemId: @ItemId, // <---------- dynamic value on search result list creation
                cropStart: cropStartAt,
                cropEnd: cropEndAt,
                cropVideo: cropAsVideo,
                duration: videoDuration,
                maxQuality: boostIt
            },
            success: function () {
            },
            error: function () {

                //$('#messagesSignUp').show();
                //$('#messagesSignUp').append('<div class="messageType2">Something went wrong, please try again later.</div>');
            }
        });
    }

    var ctrlPlay_@ItemId = document.getElementById("youtube-playControl_@ItemId");

    var player_@ItemId;

    window["togglePlayButton_@ItemId"] = function(play) {
        $("#spnPreviewGlyphicon_@ItemId").removeClass(!play ? "glyphicon glyphicon-stop" : "glyphicon glyphicon-play");
        $("#spnPreviewGlyphicon_@ItemId").addClass(play ? "glyphicon glyphicon-stop" : "glyphicon glyphicon-play");
        $("#spnBtnText_@ItemId").html(play ? " Stop Preview" : " Start Preview");
        $("#prgPreview_@ItemId").attr('style', 'width: 0%');

        if (play) {
            $('#divCropControls_@ItemId').addClass("disabledbutton");
            $('#btnCrop_@ItemId').addClass("disabledbutton");
            $("#divSetStart_@ItemId").addClass("disabledbutton");
            $("#divSetEnd_@ItemId").addClass("disabledbutton");
        } else {
            $('#divCropControls_@ItemId').removeClass("disabledbutton");
            $('#btnCrop_@ItemId').removeClass("disabledbutton");
            $("#divSetStart_@ItemId").removeClass("disabledbutton");
            $("#divSetEnd_@ItemId").removeClass("disabledbutton");
        }
    }

    var time_@ItemId;

    window["toggleAudio_@ItemId"] = function () {
        if ((player_@ItemId).getPlayerState() == 1 || (player_@ItemId).getPlayerState() == 3) {
            (player_@ItemId).pauseVideo();
            window["togglePlayButton_@ItemId"](false);
            clearInterval(timer_@ItemId);
        }
        else {
            (player_@ItemId).seekTo($("#time1_@ItemId").val(), true);
            (player_@ItemId).playVideo();
            timer_@ItemId = setInterval(window["pausePreview_@ItemId"], 100);
            window["togglePlayButton_@ItemId"](true);

            $('html,body').animate({ scrollTop: $('#divTitle_@ItemId').offset().top -60 }, 800);
        }
    }

    window["pausePreview_@ItemId"] = function() {
        var percent = Math.round(((player_@ItemId).getCurrentTime() - $("#time1_@ItemId").val()) / ($("#time2_@ItemId").val() - $("#time1_@ItemId").val()) * 100);
        $("#prgPreview_@ItemId").attr('style', 'width: ' + percent + '%');
        $("#divTimePreviewRegression_@ItemId").html(IntToTime($("#time2_@ItemId").val() - (player_@ItemId).getCurrentTime()));
        if ((player_@ItemId).getCurrentTime() >= $("#time2_@ItemId").val()) {
            window["toggleAudio_@ItemId"]();
        }
    }



    window["onPlayerReady_@ItemId"] = function (event) {

        let duration = (player_@ItemId).getDuration();

        var videoTile = duration <= 0 ? '@videoTitle' : (player_@ItemId).getVideoData().title;
        $('#divTitleCenter_@ItemId').html(videoTile);
        $('#divTitleTop_@ItemId').html('<p>' + videoTile + '</p>');
        $('#divTitleTop_@ItemId').removeClass('mobile-title');
        $('#divTitleTop_@ItemId').addClass('horizontally');


        var txtTime = duration > 0 ? IntToTime(duration) : 'LIVE!';

        if (txtTime === 'LIVE!') {
            window["showMessage_@ItemId"]('You cannot process a LIVE! show, however you still can whatch it.', 'warn');
        }

        document.getElementById("divImgTime_@ItemId").style.color = txtTime === 'LIVE!' ? "orangered" : "greenyellow";
        document.getElementById("divImgTimeMob_@ItemId").style.color = txtTime === 'LIVE!' ? "orangered" : "green";

        window["disableAllControlItem_@ItemId"](false);

        let hour_1 = 2700; // 00:45:00
        let freeLimit = 1200; // 00:20:00

        if (duration > 0 && duration > freeLimit && duration < @videoTimeLimit) {
            if ('@ViewData["Plataform"]'.length != 0) {
                document.getElementById("divNeedExtraPurchase_@ItemId").style.display = 'block';
                window["disableAllControlItem_@ItemId"](true);
                checkCredentials(@ItemId);
            }

            if (duration > hour_1 && duration < @videoTimeLimit) {
                window["showMessage_@ItemId"]('Its a large video, be aware it will take more time to be processed.', 'warn');
            }
        }
        else if (duration > hour_1 && duration < @videoTimeLimit) {
            window["showMessage_@ItemId"]('Its a large video, be aware it will take more time to be processed.', 'warn');
        }
        else if (duration > @videoTimeLimit) {
            window["showMessage_@ItemId"]('This video reached the limit of ' + IntToTime(@videoTimeLimit) + ' and due to server limitations we cannot process it, sorry.', 'error');
            document.getElementById("divImgTime_@ItemId").style.color = txtTime === 'LIVE!' ? "orangered" : "orange";
            document.getElementById("divImgTimeMob_@ItemId").style.color = txtTime === 'LIVE!' ? "orangered" : "black";
            window["disableAllControlItem_@ItemId"](true);
        }
        else {
            window["disableAllControlItem_@ItemId"](txtTime === 'LIVE!');
        }

        $('#divImgTime_@ItemId').empty().html(txtTime);
        $('#divImgTimeMob_@ItemId').empty().html(txtTime);

        (player_@ItemId).setPlaybackQuality("small");
        document.getElementById("youtube-playControl_@ItemId").style.display = "block";
        window["togglePlayButton_@ItemId"]((player_@ItemId).getPlayerState() !== 5);

        document.getElementById("time1_@ItemId").setAttribute("min", "0");
        document.getElementById("time1_@ItemId").setAttribute("max", (duration - 10).toString());
        document.getElementById("time1_@ItemId").setAttribute("value", "0");

        document.getElementById("time2_@ItemId").setAttribute("min", "10");
        document.getElementById("time2_@ItemId").setAttribute("max", (duration).toString());
        document.getElementById("time2_@ItemId").setAttribute("value", (duration).toString());

        document.getElementById("slider1_@ItemId").value = IntToTime(0);
        document.getElementById("slider2_@ItemId").value = IntToTime(duration);

        $('#lblTime2_@ItemId').html(IntToTime(duration));
        $("#spnSetEnd_@ItemId").html(IntToTime(duration));
        $("#time2_@ItemId").val(duration);
        $("#divTimePreview_@ItemId").html(IntToTime(duration) + ' - 100%');
        $("#divTimePreviewRegression_@ItemId").html(IntToTime(duration));
        $("#splitMessage_@ItemId").html(window["getSplitMessage_@ItemId"](2, IntToTime(duration / 2)));
        $('.ui-rangeslider-sliders').eq(@ItemId).css('margin', '0 20px');

        $(".inactiveLink").removeClass('inactiveLink');

    }

    window["onPlayerStateChange_@ItemId"] = function(event) {
        if (event.data === 0) {
            window["togglePlayButton_@ItemId"](false);
        }

        if (event.data == YT.PlayerState.PLAYING) {
            document.getElementById("bars_@ItemId").style.display = "block";
        }
        else {
            document.getElementById("bars_@ItemId").style.display = "none";
        }
    }

    window["calculateMinutes_@ItemId"] = function () {
        $("#splitTitle_@ItemId").html("Split in Minutes");
        $("#chkMinutes_@ItemId").prop("checked", true);

        document.getElementById("lnkRdbParts_@ItemId").style.color = "black";
        document.getElementById("lnkRdbParts_@ItemId").style.fontWeight = "unset";
        document.getElementById("lnkRdbMinutes_@ItemId").style.color = "#3c95fd";
        document.getElementById("lnkRdbMinutes_@ItemId").style.fontWeight = "bold";

        let duration = (player_@ItemId).getDuration().toString();
        let minutes = (duration / 60) / 2;

        let minutesResult = minutes % 1 == 0 ? minutes : getTruncated(minutes) + 1;

        var cmbSplit = $("#cmbSplit_@ItemId");
        $("#cmbSplit_@ItemId-button").css("width", "110px");

        cmbSplit.empty();

        for (var i = 1; i < minutesResult; i++) {
            cmbSplit.append('<option value="' + i * 60 + '">' + IntToTime(i * 60) + '</option>')
        }

        $("#cmbSplit_@ItemId").find("option:last").attr("selected", "selected");

        let partsCount = Math.round(duration / (duration / 2));
        let partText = $("#cmbSplit_@ItemId").find("option:last").text();
        let splitMsg = window["getSplitMessage_@ItemId"](partsCount, partText);
        $(".ui-selectmenu-button-text").eq(@ItemId).html(partText);
        $("#splitMessage_@ItemId").html(splitMsg);
    }

    window["calculateParts_@ItemId"] = function () {
        $("#splitTitle_@ItemId").html("Split in Parts");
        $("#chkParts_@ItemId").prop("checked", true);

        document.getElementById("lnkRdbMinutes_@ItemId").style.color = "black";
        document.getElementById("lnkRdbMinutes_@ItemId").style.fontWeight = "unset";
        document.getElementById("lnkRdbParts_@ItemId").style.color = "#3c95fd";
        document.getElementById("lnkRdbParts_@ItemId").style.fontWeight = "bold";

        $('#cmbSplit_@ItemId').empty();
        $("#cmbSplit_@ItemId-button").css("width", "70px");

        $("#cmbSplit_@ItemId")
            .append('<option value="2">2</option>')
            .append('<option value="3">3</option>')
            .append('<option value="4">4</option>')
            .append('<option value="5">5</option>')

        $(".ui-selectmenu-button-text").eq(@ItemId).html(2);

        let duration = (player_@ItemId).getDuration().toString();

        $("#splitMessage_@ItemId").html(window["getSplitMessage_@ItemId"](2, IntToTime(duration / 2)));
    }

    window["rdSeamlessClick_@ItemId"] = function() {
        $("#rdSeamless_@ItemId").prop("checked", true);
        document.getElementById("lnkrd5sDelay_@ItemId").style.color = "black";
        document.getElementById("lnkrd5sDelay_@ItemId").style.fontWeight = "unset";
        document.getElementById("lnkSeamless_@ItemId").style.color = "#3c95fd";
        document.getElementById("lnkSeamless_@ItemId").style.fontWeight = "bold";
    }

    function showHideGuide(controlGuideTrigger, controlGuide, showMsg, hideMsg) {
        var controlText = $('#' + controlGuideTrigger).html();
        $('#' + controlGuideTrigger).html(controlText === showMsg ? hideMsg : showMsg);
        $('#' + controlGuide).toggle();
    }

    window["rd5sDelayClick_@ItemId"] = function() {
        $("#rd5sDelay_@ItemId").prop("checked", true);
        document.getElementById("lnkSeamless_@ItemId").style.color = "black";
        document.getElementById("lnkSeamless_@ItemId").style.fontWeight = "unset";
        document.getElementById("lnkrd5sDelay_@ItemId").style.color = "#3c95fd";
        document.getElementById("lnkrd5sDelay_@ItemId").style.fontWeight = "bold";
    }

    function highlightControl(contrlName, mode) {

        let bgColor = 'unset';

        if (mode === 'over') {
            bgColor = 'yellow';
        }

        $('#' + contrlName + '').css('background-color', bgColor)
    }

    var updateLoopInteration_@ItemId = 0;
    var splitPercent_@ItemId = 0;
    var sizeKbTmp_@ItemId = 0;
    var sizeKbTmpMax_@ItemId = 0;

    window["updateStatus_@ItemId"] = function(convertType) {

        var form = $('#_MainForm');
        var token = $('input[name="__RequestVerificationToken"]', form).val();

        let progressStatus = '';

        if (isNaN(splitPercent_@ItemId)) {
            splitPercent_@ItemId = 0;
        }

        if (isNaN(sizeKbTmp_@ItemId)) {
            sizeKbTmp_@ItemId = 0;
        }

        if (isNaN(sizeKbTmpMax_@ItemId)) {
            sizeKbTmpMax_@ItemId = 0;
        }

        updateLoopInteration_@ItemId++;

        $.ajax({
            url: '/Home/GetProgressInfo',
            type: 'POST',
            data: {
                __RequestVerificationToken: token,
                ItemId: @ItemId // <---------- dynamic value on search result list creation
            },
            success: function (data) {

                progressStatus = data.progressStatus;
                totalFilesToConvert = data.totalFilesToConvert;
                currentMP3FileConvertionId = data.currentMP3FileConvertionId;
                bitrate = data.bitrate;
                processedDuration = Math.round(IntToTime(data.processedDuration));
                sizeKb = data.sizeKb;
                totalDuration = Math.round(data.totalDuration);
                errorMessage = data.errorMessage;
                downloadFileName_@ItemId = data.downloadFileName;

                if (errorMessage !== null) {
                    window["resetMode_@ItemId"](convertType);
                    window["showMessage_@ItemId"]('Something went wrong with your request, please try again.', 'error');
                    window["cleanInterval_@ItemId"]();
                }
                else {
                    if (progressStatus !== 'SavingDownloadedVideo' && progressStatus !== 'Cancelled') {
                        if (progressStatus === 'Downloading') {
                            document.getElementById("prgBar1_@ItemId").style.display = "block";
                            $('#divProcessStatus_@ItemId').html('Processing...');
                            $('#divTotalTime_@ItemId').html('');
                            $('#divBitrate_@ItemId').html('');
                            $('#divFileSize_@ItemId').html('');

                            var percent = Math.round(((updateLoopInteration_@ItemId * 4) / (((player_@ItemId).getDuration() / 60) * 10)) * 100);
                            percent = percent > 100 ? 100 : percent;

                            if (convertType === 'extractAudio' || convertType === 'crop') {
                                document.getElementById("divProgDownload_@ItemId").style.width = percent / 2 + "%";

                            }
                            else if (convertType === 'split') {
                                document.getElementById("divProgDownload_@ItemId").style.width = percent / 2 + "%";

                            }

                        } else if (progressStatus === 'AllConcluded') {
                            $('#divProcessStatus_@ItemId').html('Concluded!');
                            $('#btnDownload_@ItemId').removeClass("disabledbutton");

                            document.getElementById("divProgDownload_@ItemId").style.width = "50%";

                            if (convertType === 'extractAudio'){
                                $('#divTotalTime_@ItemId').html(IntToTime((player_@ItemId).getDuration()));
                                if (bitrate == null) bitrate = 130;
                                $('#divBitrate_@ItemId').html(bitrate);
                            }

                            if (convertType === 'extractAudio' || convertType === 'crop') {
                                document.getElementById("divProgConvert_@ItemId").style.width = "50%";
                                $('#spnConvert_@ItemId').html('100% Converted');
                            }
                            else if (convertType === 'split') {
                                document.getElementById("divProgConvert_@ItemId").style.width = "50%";
                                $('#spnConvert_@ItemId').html('100% Converted');
                            }
                        }
                        else {
                            $('#divProcessStatus_@ItemId').html(progressStatus);
                            $('#divFileSize_@ItemId').html(window["formatSizeUnits_@ItemId"](sizeKb * 1024));
                            $('#divTotalTime_@ItemId').html(IntToTime(totalDuration));

                            if (convertType === 'crop') {
                                var timeDiff = $("#time2_@ItemId").val() - $("#time1_@ItemId").val();
                                $('#divTotalTime_@ItemId').html(IntToTime(timeDiff));
                            }

                            if (convertType === 'extractAudio' || convertType === 'crop') {
                                document.getElementById("divProgDownload_@ItemId").style.width = "50%";


                                document.getElementById("divDownloaded_@ItemId").style.display = "block";

                                var percent = Math.round((data.processedDuration / totalDuration) * 100);
                                document.getElementById("divProgConvert_@ItemId").style.width = percent / 2 + "%";
                                $('#spnConvert_@ItemId').html(percent + '% Converted');
                            }
                            else if (convertType === 'split') {

                                document.getElementById("divProgDownload_@ItemId").style.width = "50%";


                                if (sizeKb < sizeKbTmp_@ItemId) {
                                    sizeKbTmpMax_@ItemId += sizeKbTmp_@ItemId;
                                }

                                sizeKbTmp_@ItemId = sizeKb;

                                $('#divFileSize_@ItemId').html(window["formatSizeUnits_@ItemId"]((sizeKbTmpMax_@ItemId + sizeKbTmp_@ItemId) * 1024));


                                if (totalFilesToConvert > 2) {
                                    if (currentMP3FileConvertionId > 0) {
                                        var percent = Math.round((currentMP3FileConvertionId / (totalFilesToConvert + 1)) * 100);
                                    }
                                }
                                else {
                                    var percent = Math.round((data.processedDuration / totalDuration) * 100);

                                    if (percent < splitPercent_@ItemId) {
                                        percent += splitPercent_@ItemId;
                                    }
                                    else {
                                        splitPercent_@ItemId = percent;
                                    }
                                }

                                document.getElementById("divProgConvert_@ItemId").style.width = percent / 2 + "%";
                                $('#spnConvert_@ItemId').html(percent + '% Converted');
                            }
                        }
                    }

                    if (bitrate !== 'null') {
                        $('#divBitrate_@ItemId').html(bitrate);
                    }

                    if (progressStatus === 'AllConcluded') {
                        $('#divProcessStatus_@ItemId').html('Concluded!');
                        document.getElementById('divProcessStatus_@ItemId').style.color = '#35acd0';
                        document.getElementById('divProcessStatus_@ItemId').style.fontWeight = 'bold';

                        window["cleanInterval_@ItemId"]();
                        window["resetMode_@ItemId"](convertType);

                        if ('@ViewData["Plataform"]' === 'AP') {

                            document.getElementById('btnDownload_@ItemId').href = '';

                            $("#btnDownload_@ItemId").click(function () {
                                DownloadAp(downloadFileName_@ItemId);
                            });

                        }
                    }
                }
            },
            error: function (err) {
                //alert('error : ' + err)
                window["cleanInterval_@ItemId"]();
            }
        });
    }

    window["cleanInterval_@ItemId"] = function() {
        clearInterval(time_@ItemId);
        sizeKbTmp_@ItemId = 0;
        splitPercent_@ItemId = 0;
        sizeKbTmpMax_@ItemId = 0;
        updateLoopInteration_@ItemId = 0;
        window["disableAllControlItem_@ItemId"](false);
    }

    window["formatSizeUnits_@ItemId"] = function(bytes) {
        if (bytes >= 1073741824) { bytes = (bytes / 1073741824).toFixed(2) + " GB"; }
        else if (bytes >= 1048576) { bytes = (bytes / 1048576).toFixed(2) + " MB"; }
        else if (bytes >= 1024) { bytes = (bytes / 1024).toFixed(2) + " KB"; }
        else if (bytes > 1) { bytes = bytes + " bytes"; }
        else if (bytes == 1) { bytes = bytes + " byte"; }
        else { bytes = bytes + " bytes"; }
        return bytes;
    }

    window["resetMode_@ItemId"] = function (mode) {

        document.getElementById("divMessage_@ItemId").style.display = "none";

        if (mode === 'extractAudio') {
            let btnText = $("#spnExtractBtnText_@ItemId").text().trim();
            window["swapBtnState_@ItemId"]('#spnExtractGlyph_@ItemId', '#btnExtract_@ItemId', "#spnExtractBtnText_@ItemId", 'glyphicon-log-out', ' Extract Audio', btnText !== 'Cancel');
        }

        if (mode === 'split') {
            let btnText = $("#spnSplitBtnText_@ItemId").text().trim();
            window["swapBtnState_@ItemId"]('#spnSplitGlyph_@ItemId', '#btnSplit_@ItemId', "#spnSplitBtnText_@ItemId", 'glyphicon-sound-stereo', ' Split Audio', btnText !== 'Cancel');
        }

        if (mode === 'crop') {
            let btnText = $("#spnCropBtnText_@ItemId").text().trim();
            var audioChecked = document.getElementById('chkAudio_@ItemId').checked;
            let defaultText = audioChecked ? " Cut AUDIO range" : " Cut VIDEO range";
            window["swapBtnState_@ItemId"]('#spnCropGlyph_@ItemId', '#btnCrop_@ItemId', '#spnCropBtnText_@ItemId', 'glyphicon-scissors', defaultText, btnText !== 'Cancel');
        }

        window["disableAllControlItem_@ItemId"](false);

    }

    window["disableAllControlItem_@ItemId"] = function (disableIt) {

        $('#divExtractBody_@ItemId').find('*').each(function () {
            $(this).attr('disabled', disableIt);
        });

        $('#divSplitBody_@ItemId').find('*').each(function () {
            $(this).attr('disabled', disableIt);
        });

        $('#divCropBody_@ItemId').find('*').each(function () {
            $(this).attr('disabled', disableIt);
        });

        if (disableIt) {
            $('#divExtractBody_@ItemId').addClass('disabledbutton');
            $('#divSplitBody_@ItemId').addClass('disabledbutton');
            $('#divCropBody_@ItemId').addClass('disabledbutton');
            $('#divCropContent_@ItemId').addClass('disabledbutton');
            $('#divSplitContent_@ItemId').addClass('disabledbutton');
            $("#divSetStart_@ItemId").addClass("disabledbutton");
            $("#divSetEnd_@ItemId").addClass("disabledbutton");
            $('#fsetCutControls_@ItemId').addClass('disabledbutton');
        }
        else {
            $('#divExtractBody_@ItemId').removeClass('disabledbutton');
            $('#divSplitBody_@ItemId').removeClass('disabledbutton');
            $('#divCropBody_@ItemId').removeClass('disabledbutton');
            $('#divCropContent_@ItemId').removeClass('disabledbutton');
            $('#divSplitContent_@ItemId').removeClass('disabledbutton');
            $("#divSetStart_@ItemId").removeClass("disabledbutton");
            $("#divSetEnd_@ItemId").removeClass("disabledbutton");
            $('#fsetCutControls_@ItemId').removeClass('disabledbutton');
        }
    }

    window["disableContentControlItem_@ItemId"] = function (disableIt, mode) {

        if (mode === 'extractAudio') {

            $('#divSplitBody_@ItemId').find('*').each(function () {
                $(this).attr('disabled', disableIt);
            });

            $('#divCropBody_@ItemId').find('*').each(function () {
                $(this).attr('disabled', disableIt);
            });

            if (disableIt) {
                $('#divSplitBody_@ItemId').addClass('disabledbutton');
                $('#divCropBody_@ItemId').addClass('disabledbutton');
                $('#fsetCutControls_@ItemId').addClass('disabledbutton');
            }
            else {
                $('#divSplitBody_@ItemId').removeClass('disabledbutton');
                $('#divCropBody_@ItemId').removeClass('disabledbutton');
                $('#fsetCutControls_@ItemId').removeClass('disabledbutton');
            }
        }

        if (mode === 'split') {

            $('#divExtractBody_@ItemId').find('*').each(function () {
                $(this).attr('disabled', disableIt);
            });

            $('#divSplitContent_@ItemId').find('*').each(function () {
                $(this).attr('disabled', disableIt);
            });

            $('#divCropBody_@ItemId').find('*').each(function () {
                $(this).attr('disabled', disableIt);
            });

            if (disableIt) {
                $('#divExtractBody_@ItemId').addClass('disabledbutton');
                $('#divCropBody_@ItemId').addClass('disabledbutton');
                $('#divSplitContent_@ItemId').addClass('disabledbutton');
                $('#fsetCutControls_@ItemId').addClass('disabledbutton');
            }
            else {
                $('#divExtractBody_@ItemId').removeClass('disabledbutton');
                $('#divCropBody_@ItemId').removeClass('disabledbutton');
                $('#divSplitContent_@ItemId').removeClass('disabledbutton');
                $('#fsetCutControls_@ItemId').removeClass('disabledbutton');
            }
        }

        if (mode === 'crop') {

            $('#divExtractBody_@ItemId').find('*').each(function () {
                $(this).attr('disabled', disableIt);
            });

            $('#divSplitBody_@ItemId').find('*').each(function () {
                $(this).attr('disabled', disableIt);
            });

            $('#divCropContent_@ItemId').find('*').each(function () {
                $(this).attr('disabled', disableIt);
            });

            $('#btnPreview_@ItemId').attr('disabled', disableIt);

            if (disableIt) {
                $('#divExtractBody_@ItemId').addClass('disabledbutton');
                $('#divSplitBody_@ItemId').addClass('disabledbutton');
                $('#divCropContent_@ItemId').addClass('disabledbutton');
                $('#fsetCutControls_@ItemId').addClass('disabledbutton');
            }
            else {
                $('#divExtractBody_@ItemId').removeClass('disabledbutton');
                $('#divSplitBody_@ItemId').removeClass('disabledbutton');
                $('#divCropContent_@ItemId').removeClass('disabledbutton');
                $('#fsetCutControls_@ItemId').removeClass('disabledbutton');
            }
        }
    }

    window["showMessage_@ItemId"] = function (message, messageType) {
        document.getElementById("divMessage_@ItemId").style.display = "block";
        $('#divMessageContent_@ItemId').html(message);

        if (messageType === 'warn') {
            document.getElementById('divMessageContent_@ItemId').style.backgroundColor = '#ceecc6';
        }
        else if (messageType === 'error')
        {
            document.getElementById('divMessageContent_@ItemId').style.backgroundColor = '#ffb75f';
        }

    }

    window["extractContent_@ItemId"] = function() {

        let mode = 'extractAudio';

        let btnText = $("#spnExtractBtnText_@ItemId").text().trim();

        window["resetMode_@ItemId"](mode);
        window["resetProgressInfoTable_@ItemId"]();

        if (btnText === 'Cancel') {
            window["cleanInterval_@ItemId"]();
            window["cancelProcess_@ItemId"]();
        }
        else {
            document.getElementById("tblProgressInfo_@ItemId").style.display = "block";
            window["extractAudio_@ItemId"]();
            $('#divProcessType_@ItemId').html('Extracting Audio');
            time_@ItemId = setInterval(function () { window["updateStatus_@ItemId"](mode); }, 800);

            window["disableContentControlItem_@ItemId"](true, mode);

            $('html,body').animate({ scrollTop: $('#divTitle_@ItemId').offset().top -60 }, 800);
        }
    }

    window["splitContent_@ItemId"] = function() {

        let mode = 'split';

        let btnText = $("#spnSplitBtnText_@ItemId").text().trim();

        window["resetMode_@ItemId"](mode);
        window["resetProgressInfoTable_@ItemId"]();

        if (btnText === 'Cancel') {
            window["cleanInterval_@ItemId"]();
            window["cancelProcess_@ItemId"]();
        }
        else {
            document.getElementById("tblProgressInfo_@ItemId").style.display = "block";
            window["splitAudioVideo_@ItemId"]();
            $('#divProcessType_@ItemId').html('Spliting Audio');
            time_@ItemId = setInterval(function () { window["updateStatus_@ItemId"](mode); }, 800);

            window["disableContentControlItem_@ItemId"](true, mode);

            $('html,body').animate({ scrollTop: $('#divTitle_@ItemId').offset().top -60 }, 800);
        }
    }

    window["setCropBtnText_@ItemId"] = function() {
        let audioChecked = document.getElementById('chkAudio_@ItemId').checked;
        $("#spnCropBtnText_@ItemId").html(audioChecked ? " Cut AUDIO range" : " Cut VIDEO range");
        document.getElementById('chkBoostQualityCrp_@ItemId').checked = !audioChecked;
    }

    window["setSplitBtnText_@ItemId"] = function() {
        let audioChecked = document.getElementById('chkSplAudio_@ItemId').checked;
        $("#spnSplitBtnText_@ItemId").html(audioChecked ? " Split AUDIO" : " Split VIDEO");
        document.getElementById('chkBoostQualitySpl_@ItemId').checked = !audioChecked;
    }

    window["cropContent_@ItemId"] = function() {

        let mode = 'crop';

        let btnText = $("#spnCropBtnText_@ItemId").text().trim();

        window["resetMode_@ItemId"](mode);
        window["resetProgressInfoTable_@ItemId"]();

        if (btnText === 'Cancel') {
            window["cleanInterval_@ItemId"]();
            window["setCropBtnText_@ItemId"]();
            window["cancelProcess_@ItemId"]();
        }
        else {
            document.getElementById("tblProgressInfo_@ItemId").style.display = "block";
            window["cropMedia_@ItemId"]();
            time_@ItemId = setInterval(function () { window["updateStatus_@ItemId"](mode); }, 800);
            let audioChecked = document.getElementById('chkAudio_@ItemId').checked;
            $('#divProcessType_@ItemId').html('Cutting ' + (audioChecked ? 'Audio' : 'Video'));

            window["disableContentControlItem_@ItemId"](true, mode);

            $('html,body').animate({ scrollTop: $('#divTitle_@ItemId').offset().top -60 }, 800);
        }
    }

    window["cancelProcess_@ItemId"] = function() {
        location.href = '@Url.Action("CancelProgress", "Home", new { ItemId = ItemId })';
    }

    window["resetProgressInfoTable_@ItemId"] = function() {
        $('#divProcessType_@ItemId').html('- - -');
        $('#divProcessStatus_@ItemId').html('- - -');
        $('#divTotalTime_@ItemId').html('- - -');
        $('#divBitrate_@ItemId').html('- - -');
        $('#divFileSize_@ItemId').html('- - -');

        document.getElementById('divProcessStatus_@ItemId').style.color = 'unset';
        document.getElementById('divProcessStatus_@ItemId').style.fontWeight = 'unset';

        $('#btnDownload_@ItemId').addClass("disabledbutton");
        document.getElementById("prgBar1_@ItemId").style.display = "none";

        document.getElementById("divProgConvert_@ItemId").style.width = "0%";
        document.getElementById("divProgDownload_@ItemId").style.width = "0%";
    }

    window["getMinutes_@ItemId"] = function() {

        let minutesChecked = document.getElementById('chkMinutes_@ItemId').checked;

        return minutesChecked ? document.getElementById("cmbSplit_@ItemId").value : 0;
    }

    window["getParts_@ItemId"] = function()  {

        let partsChecked = document.getElementById('chkParts_@ItemId').checked;

        return partsChecked ? document.getElementById("cmbSplit_@ItemId").value : 0;
    }

    window["swapBtnState_@ItemId"] = function(ctrl1, ctrl2, ctrl3, glyph, iniText, iniState) {
        if (!iniState) {
            $('' + ctrl1 + '').removeClass('glyphicon-remove');
            $('' + ctrl1 + '').addClass(glyph);
            $('' + ctrl2 + '').removeClass('btn-danger');
            $('' + ctrl2 + '').addClass('btn-info');
            $('' + ctrl3 + '').html(iniText);
        }
        else {
            $('' + ctrl1 + '').removeClass(glyph);
            $('' + ctrl1 + '').addClass('glyphicon-remove');
            $('' + ctrl2 + '').removeClass('btn-info');
            $('' + ctrl2 + '').addClass('btn-danger');
            $('' + ctrl3 + '').html(" Cancel");
        }
    }

    window["startLeftArrow_@ItemId"] = function () {
        let timeValue = $("#time1_@ItemId").val();
        if (timeValue != 0) {
            $("#time1_@ItemId").val((timeValue - 1).toString());
            $("#time1_@ItemId").trigger("change");
        }
    }

    window["startRightArrow_@ItemId"] = function() {
        let timeValue = parseInt($("#time1_@ItemId").val());
        let duration = (player_@ItemId).getDuration();

        if (timeValue < duration) {
            $("#time1_@ItemId").val((timeValue + 1).toString());
            $("#time1_@ItemId").trigger("change");
        }
    }

    window["endLeftArrow_@ItemId"] = function () {
        let timeValue = $("#time2_@ItemId").val();
        if (timeValue != 0) {
            $("#time2_@ItemId").val((timeValue - 1).toString());
            $("#time2_@ItemId").trigger("change");
        }
    }

    window["endRightArrow_@ItemId"] = function() {
        let timeValue = parseInt($("#time2_@ItemId").val());
        let duration = (player_@ItemId).getDuration();

        if (timeValue < duration) {
            $("#time2_@ItemId").val((timeValue + 1).toString());
            $("#time2_@ItemId").trigger("change");
        }
     }

    window["SetStartTime_@ItemId"] = function () {
        let timeValue = (player_@ItemId).getCurrentTime();
        if (timeValue != 0) {
            $("#time1_@ItemId").val((timeValue).toString());
            $("#time1_@ItemId").trigger("change");
            $("#spnSetStart_@ItemId").html(IntToTime(timeValue));
        }
    }

    window["SetEndTime_@ItemId"] = function () {
        let timeValue = (player_@ItemId).getCurrentTime();
        let duration = (player_@ItemId).getDuration();

        if (timeValue > 0) {
            if (timeValue < duration) {
                $("#time2_@ItemId").val((timeValue).toString());
                $("#time2_@ItemId").trigger("change");
                $("#spnSetEnd_@ItemId").html(IntToTime(timeValue));
            }
        }
    }

    function DownloadAp(downloadUrlValue) {
        webkit.messageHandlers.urlDownload.postMessage(downloadUrlValue);
    }

    window["copyToClipboard_@ItemId"] = function () {
        var credits = document.getElementById('taCredits_@ItemId').value;

        console.log('@ViewData["Plataform"]');

        if ('@ViewData["Plataform"]' === 'AN') {            
            $('#taCredits_@ItemId').select();
            document.execCommand('copy');
        }
        else {
            navigator.clipboard.writeText(credits);
        }

        document.getElementById("creditsFinalMessage_@ItemId").style.display = "block";
        document.getElementById('credits_@ItemId').style.paddingBottom = 'unset';
    }

    window["generateHashTag_@ItemId"] = function () {

        var controlText = $('#' + 'btnHashTagsText_@ItemId').html();
        $('#' + 'btnHashTagsText_@ItemId').html(controlText === 'Remove Hashtags' ? 'Add Hashtags' : 'Remove Hashtags');

        if (controlText === 'Remove Hashtags') {

            document.getElementById('taCredits_@ItemId').value = '———— Credits ———— \n Youtube channel : @chanelName \n https://www.youtube.com/watch?v=@videoId \n\n Generated by: Podcast it! \n https://podcast-it.noleheroes.com';
        }
        else
        {
            var credits = document.getElementById('taCredits_@ItemId').value;

            var hashTags = '@hashTags' + '\n\n';

            document.getElementById('taCredits_@ItemId').value = hashTags + credits;
        }

        document.getElementById("creditsFinalMessage_@ItemId").style.display = "none";
        document.getElementById('credits_@ItemId').style.paddingBottom = '100px';
    }

    window["anchorToTop_@ItemId"] = function (control) {
        $('html,body').animate({ scrollTop: $('#'+control).offset().top - 60 }, 800);
    }

</script>